[Unit]
Description=Sends precision landing data to Ardupilot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ochin/aero_aruco
ExecStart=/usr/bin/python3 /home/ochin/aero_aruco/main.py -c cameras/prod_camera.json -p pads/simple_pad.json -m true -v false
Restart=on-failure

[Install]
WantedBy=default.target
